<%= form_with(model: angle, local: true) do |form| %>
  <% if angle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(angle.errors.count, "error") %> prohibited this angle from being saved:</h2>

      <ul>
      <% angle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :pricing %>
    <%= form.number_field :pricing %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.check_box :state %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
