<p id="notice"><%= notice %></p>

<h1>Angles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pricing</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @angles.each do |angle| %>
      <tr>
        <td><%= angle.name %></td>
        <td><%= angle.pricing %></td>
        <td><%= angle.state %></td>
        <td><%= link_to 'Show', angle %></td>
        <td><%= link_to 'Edit', edit_angle_path(angle) %></td>
        <td><%= link_to 'Destroy', angle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Angle', new_angle_path %>
