<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @angle.name %>
</p>

<p>
  <strong>Pricing:</strong>
  <%= @angle.pricing %>
</p>

<p>
  <strong>State:</strong>
  <%= @angle.state %>
</p>

<%= link_to 'Edit', edit_angle_path(@angle) %> |
<%= link_to 'Back', angles_path %>
