
<div class="sidenav">
    <div class="login-main-text">
       <h2>Se Connecter</h2>
       <p>Connectez-vous à votre compte ou céez-en un pour continuer</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
         <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
             <div class="form-group">
                <label>Email</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
             </div>
             <div class="form-group">
                <label>Mot de passe</label>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
             </div>
             <div class="form-group">
                <label>Confirmez votre mot de passe</label>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
             </div>
             <button type="submit" class="btn btn-black">Enregistrement</button>
             <a href="/users/sign_in" class="btn btn-secondary">Se connecter</a>
            <% end %>
       </div>
    </div>
 </div>




<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
