<%= form_with(model: exhibitor, local: true, id: 'exhibitor') do |form| %>
  <% if exhibitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exhibitor.errors.count, "error") %> prohibited this exhibitor from being saved:</h2>

      <ul>
        <% exhibitor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel rounded-sm panel-box">

    <h3>Exposant</h3>

    <div class="form-check form-check-inline">
      <label>Vous êtes un exposant ou un co-exposant? </label> <br> &nbsp; &nbsp; &nbsp;

      <%= radio_button_tag :is_exhibitor, true, true %> &nbsp;
      <i>Exposant</i> &nbsp; ou &nbsp;
      <%= radio_button_tag :is_exhibitor, false, false %> &nbsp;
      <i>Co-exposant</i>
    </div>

    <div class="form-group">
      <label for="inputEmail4">Raison sociale</label>
      <%= form.text_field :social_name, class: "form-control", placeholder: "Nom de votre compagnie" %>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label>PDG ou gérant</label>
        <%= form.text_field :manager_name, class: "form-control", placeholder: "Nom" %>
      </div>
      <div class="form-group col-md-4">
        <label>Téléphone</label>
        <%= form.text_field :manager_phone, class: "form-control", placeholder: "Téléphone" %>
      </div>
      <div class="form-group col-md-4">
        <label>Email</label>
        <%= form.text_field :manager_email, class: "form-control", placeholder: "Email" %>
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Commercial</label>
        <%= form.text_field :commercial, class: "form-control", placeholder: "Nom", class: "form-control" %>
      </div>
      <div class="form-group col-md-4">
        <label>Téléphone</label>
        <%= form.text_field :commercial, class: "form-control", placeholder: "Téléphone", class: "form-control" %>
      </div>
      <div class="form-group col-md-4">
        <label>Email</label>
        <%= form.text_field :commercial, class: "form-control", placeholder: "Email" %>
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Responsable Marketing</label>
        <%= form.text_field :marketing, class: "form-control", placeholder: "Nom" %>
      </div>
      <div class="form-group col-md-4">
        <label>Téléphone</label>
        <%= form.text_field :marketing, class: "form-control", placeholder: "Téléphone" %>
      </div>
      <div class="form-group col-md-4">
        <label>Email</label>
        <%= form.text_field :marketing, class: "form-control", placeholder: "Email" %>
      </div>
    </div>


    <div class="form-group">
      <label for="inputAddress">Adresse</label>
      <%= form.text_area :address, class: "form-control", placeholder: "Votre adresse" %>
    </div>


    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Code Postal</label>
        <%= form.text_field :zipcode, class: "form-control", placeholder: "Votre code postal" %>
      </div>
      <div class="form-group col-md-6">
        <label>Pays</label>
        <%= form.country_select "country", ["France"], {}, {class: "form-control"} %>
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Téléphone</label>
        <%= form.text_field :phone, class: "form-control", placeholder: "Numéro de la société" %>
      </div>
      <div class="form-group col-md-4">
        <label>Fax</label>
        <%= form.text_field :fax, class: "form-control", placeholder: "Fax de la société" %>
      </div>
      <div class="form-group col-md-4">
        <label>Site web</label>
        <%= form.text_field :web, class: "form-control", placeholder: "Site web de la société" %>
      </div>
    </div>


    <div class="form-group">
      <label for="inputAddress">Email</label>
      <%= form.text_field :email, class: "form-control", placeholder: "contact@monentreprise.com" %>
    </div>


    <div class="form-group">
      <label for="inputAddress">Code NAF</label>
      <%= form.text_field :naf, class: "form-control", placeholder: "Code NAF de la société" %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputAddress">SIREN</label>
          <%= form.text_field :siren, class: "form-control", placeholder: "SIREN de la société" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputAddress">SIRET</label>
          <%= form.text_field :siret, class: "form-control", placeholder: "SIRET de la société" %>
        </div>
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-6">
        <label>TVA Intracommunautaire</label>
        <%= form.text_field :tva_code, class: "form-control", placeholder: "TVA Intracommunautaire" %>
      </div>
      <div class="form-group col-md-6">
        <label>Date de la création de la société</label><br>
        <%= form.date_select :company_creation_date, {}, {class: "form-control-inline"} %>
      </div>
    </div>


    <div class="field">
      <%= form.label :is_experienced, value: "Avez-vous déjà participé à un salon dans ce domaine ?" %>
      <%= form.check_box :is_experienced %>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Si oui, lequel?</label>
        <%= form.text_field :experience_event, class: "form-control" %>
      </div>
      <div class="form-group col-md-6">
        <label>Année de participation</label>
        <%= form.text_field :experience_year, class: "form-control" %>
      </div>
    </div>


  </div>


  <div class="panel rounded-sm panel-box">

    <h3>Contact et Correspondance</h3>


    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Responsable du dossier</label>
        <%= form.text_field :contact_name, class: "form-control", placeholder: "Nom" %>
      </div>
      <div class="form-group col-md-6">
        <label>Fonction</label>
        <%= form.text_field :contact_title, class: "form-control", placeholder: "Titre" %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Téléphone</label>
        <%= form.text_field :contact_phone, class: "form-control", placeholder: "Téléphone fixe" %>
      </div>
      <div class="form-group col-md-6">
        <label>Mobile</label>
        <%= form.text_field :contact_mobile, class: "form-control", placeholder: "Mobile" %>
      </div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <%= form.text_field :contact_email, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Type d'adresse</label>

      <%= form.select :contact_address_type, {}, {}, {required: 'true', autofocus: 'true', class: 'form-control'} do %>
        <% [['Siège', 'siege'], ['Autre adresse', 'other']].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>

    </div>


    <div class="form-group">
      <label>Le COURRIER est à envoyer à</label>
      <%= form.text_area :contact_address, class: "form-control" %>
    </div>


    <div class="form-group">
      <label>Type d'adresse de facturation</label>

      <%= form.select :billing_address_type, {}, {}, {required: 'true', autofocus: 'true', class: 'form-control'} do %>
        <% [['Siège', 'siege'], ['Autre adresse', 'other']].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
    </div>


    <div class="form-group">
      <label>La FACTURE est à envoyer à</label>
      <%= form.text_area :billing_address, class: "form-control" %>
    </div>

  </div>


  <div class="panel rounded-sm panel-box">

    <h3>Liste des exposants et enseignes</h3>

    <div class="form-group">
      <label>Nom à figurer sur le guide de visite, l'enseigne du stand aménagé, le web et le plan de visite</label>
      <p>18 caractères maximum, la première lettre sera la lettre declassement (si cette partie n’est pas complétée,
        seule votre raison sociale sera retenue)</p>
      <%= form.text_field :signage, class: "form-control" %>
    </div>


  </div>


  <div class="panel rounded-sm panel-box">

    <h3>Activité de votre entreprise</h3>

    <div class="form-group">
      <label>Cochez les cases correspondant à votre activité</label><br>
      <% for activity in Activity.all %>
        <%= check_box_tag "activity[activity_ids][]", activity.id, @exhibitor.activities.include?(activity) %>
        <%= h activity.name %><br/>
      <% end %>
    </div>

    <div class="form-group">
      <label>Autre activité</label>
      <%= form.text_field :other_activity, class: "form-control", placeholder: "Si vous avez d'autres activités non mentionnées ci dessus" %>
    </div>


    <div class="form-group">
      <label>Vos produits</label>
      <%= form.text_area :products, class: "form-control" %>
    </div>


    <div class="form-group">
      <label>Marques représentées</label>
      <%= form.text_area :brands, class: "form-control" %>
    </div>


  </div>

  <div class="panel rounded-sm panel-box">

    <h3>Frais d'inscription</h3>

    <div class="form-group">
      <label>Ce forfait comprend frais de gestion de votre dossier + inscription dans le guide du visiteur et sur le site
        Internet + 5 badges exposants + 50 cartes d’invitation.</label>
      <%= form.check_box :insurance_agreement %>
      <small>J’ai bien noté que je dois souscrire une assurance « Responsabilité Civile » (Exploitation et Après
        livraison), une assurance « Tous Risques Exposition » et toute autre jugée utile pour la durée de
        l’évènement.
      </small>
      <br>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <%= radio_button_tag(:insurance_type, 1) %>
        <small>Je prends ma propre assurance</small>
      </div>
      <div class="form-group col-md-6">
        <%= radio_button_tag(:insurance_type, 0) %>
        <small>Je souhaite être contacté par un assureur agrée de COSORG</small>
      </div>
    </div>

  </div>

  <%= render 'exhibitors/formula/stand', form: form %>

  <%= render 'exhibitors/formula/local_layout', form: form %>

  <div class="panel rounded-sm panel-box">

    <h3>Prestation Technique</h3>

    <p> Une augmentation de puissance ainsi que toutes les autres prestations techniques (réserve, moquette
      personnalisée, nettoyage...) doivent être commandées sur notre plateforme spécialisée.</br>
      Vous trouverez ci-joint la fiche d’information qui contient les tarifs des prestations techniques.</br>
      Pour commander vos prestations, un login et un mot de passe vous seront envoyés par notre service
      exposants.</br>
      <b>Pour toute question, merci de NOUS CONTACTER : contact@cosorg.online</b></p>


  </div>

  <%= render 'exhibitors/formula/badge', form: form %>

  <%= render 'exhibitors/formula/communication_tools', form: form %>

  <%= render 'exhibitors/formula/total', form: form %>

  <%= render 'exhibitors/formula/payment_conditions', form: form %>

  <div class="panel rounded-sm panel-box">

    <h3>Confirmation de réservation</h3>

    <p>L’envoi de cette demande de participation dûment remplie et accompagnée du règlement de 30 ou 50% d’acompte,
      constitue une demande de réservation soumise à l’accord de COSORG.
      COSORG statue à toute époque sur les admissions ou les refus sans recours et sans être obligée de
      donner
      les motifs de sa décision. L’exposant dont la demande a été refusée ne pourra se prévaloir du fait qu’il a
      été admis à des manifestations antérieures ou que sa présence
      a été sollicitée. Le rejet de l’admission ne pourra donner lieu au paiement d’aucune indemnité quelconque
      autre
      que le remboursement des sommes versées à COSORG pour la réservation du Salon.</p>

  </div>

  <div class="panel rounded-sm panel-box">

    <h3>Documents à joindre à cette demande</h3>

    <p>Je joins obligatoirement les documents suivants :</p>
    <ul>
      <li>Extrait K-Bis de moins de 3 mois</li>
      <%= form.file_field :kbis %><br><br>

      <li>Avis de virement de la banque ou chèque 30 ou 50% d'accompte (merci d'y indiquer le nom d'exposant et si
        possible, le numéro de votre stand)
      </li>
      <%= form.file_field :avis %><br><br>

      <li>Pour les artisans, copie de l'inscription au répertoire des Métiers ou à la Maison des Artistes obligatoire
        en
        vigueur à la date de la signature
      </li>
      <%= form.file_field :artisan_inscription %><br><br>
    </ul>

  </div>

  <div class="panel rounded-sm panel-box">

    <h3>Accord de participation</h3>

    <p class="text-justify">En soumettant cette demande, je déclare avoir pris connaissance du règlement général de la manifestation ci-dessous et des
      conditions de paiement, en accepter toutes les clauses et prescriptions. Je déclare que l’entreprise n’est pas
      en
      cessation de paiement à la date de la présente demande et certifie l’exactitude des renseignements donnés.
      J’atteste sur l’honneur que l’entreprise que je représente est immatriculée régulièrement dans son pays et
      avoir
      pris connaissance notamment de la réglementation en matière de protection des consommateurs et des formalités
      nécessaires en cas d’emploi de personnel occasionnel sur mon stand.</p>

  </div>

  <div class="panel rounded-sm panel-box">

    <h3>Souhaits ou observations de l'exposant</h3>

    <div class="form-group">
      <%= form.text_area :wishes, class: "form-control" %>
    </div>
  </div>

  <div class="panel rounded-sm panel-box">

    <h3>Conditions générales de ventes</h3>

    <div class="form-group">
      <%= raw @event.cgv %>

      <br>

      <%= form.check_box :accepted_cgv %> J'accepte les conditions générales de ventes.
    </div>
  </div>
  <%= form.hidden_field :event_id, value: @event.id %>

  <div class="actions text-right">
    <input type="submit" class="btn btn-warning btn-lg right-pull" value="Soumettre">
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    $('.subtotal').change(function () {
        calcTotal();

    });

    function calcTotal() {
        var sum = 0
        $('.subtotal').each(function () {

            sum += parseFloat($(this).val());

        })

        $('#total').val(sum);
    }
</script>