<p id="notice"><%= notice %></p>

<h1>Exhibitors</h1>

<table>
  <thead>
    <tr>
      <th>Is exhibitor</th>
      <th>Social name</th>
      <th>Address</th>
      <th>Zipcode</th>
      <th>Country</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Web</th>
      <th>Manager name</th>
      <th>Manager phone</th>
      <th>Manager email</th>
      <th>Commercial name</th>
      <th>Commercial phone</th>
      <th>Commercial email</th>
      <th>Marketing name</th>
      <th>Marketing phone</th>
      <th>Marketing email</th>
      <th>Email</th>
      <th>Naf</th>
      <th>Siren</th>
      <th>Tva code</th>
      <th>Company creation date</th>
      <th>Is experienced</th>
      <th>Experience event</th>
      <th>Experience year</th>
      <th>Contact name</th>
      <th>Contact title</th>
      <th>Contact phone</th>
      <th>Contact mobile</th>
      <th>Contact address type</th>
      <th>Contact address</th>
      <th>Contact email</th>
      <th>Billing address type</th>
      <th>Billing address</th>
      <th>Signage</th>
      <th>Other activity</th>
      <th>Products</th>
      <th>Brands</th>
      <th>Insurance agreement</th>
      <th>Insurance type</th>
      <th>Booth surface</th>
      <th>Booth junk surface</th>
      <th>Majoration central allery</th>
      <th>Confort surface</th>
      <th>Turnkey surface</th>
      <th>Turnkey options</th>
      <th>Badges count</th>
      <th>Invitations count</th>
      <th>Logo confirmed</th>
      <th>Home ad banner</th>
      <th>Visitor ad banner</th>
      <th>Page ad banner</th>
      <th>Summit logo confirmed</th>
      <th>Bag confirmed</th>
      <th>Payment version</th>
      <th>Wishes</th>
      <th>Event</th>
      <th>Angle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exhibitors.each do |exhibitor| %>
      <tr>
        <td><%= exhibitor.is_exhibitor %></td>
        <td><%= exhibitor.social_name %></td>
        <td><%= exhibitor.address %></td>
        <td><%= exhibitor.zipcode %></td>
        <td><%= exhibitor.country_id %></td>
        <td><%= exhibitor.phone %></td>
        <td><%= exhibitor.fax %></td>
        <td><%= exhibitor.web %></td>
        <td><%= exhibitor.manager_name %></td>
        <td><%= exhibitor.manager_phone %></td>
        <td><%= exhibitor.manager_email %></td>
        <td><%= exhibitor.commercial_name %></td>
        <td><%= exhibitor.commercial_phone %></td>
        <td><%= exhibitor.commercial_email %></td>
        <td><%= exhibitor.marketing_name %></td>
        <td><%= exhibitor.marketing_phone %></td>
        <td><%= exhibitor.marketing_email %></td>
        <td><%= exhibitor.email %></td>
        <td><%= exhibitor.naf %></td>
        <td><%= exhibitor.siren %></td>
        <td><%= exhibitor.tva_code %></td>
        <td><%= exhibitor.company_creation_date %></td>
        <td><%= exhibitor.is_experienced %></td>
        <td><%= exhibitor.experience_event %></td>
        <td><%= exhibitor.experience_year %></td>
        <td><%= exhibitor.contact_name %></td>
        <td><%= exhibitor.contact_title %></td>
        <td><%= exhibitor.contact_phone %></td>
        <td><%= exhibitor.contact_mobile %></td>
        <td><%= exhibitor.contact_address_type %></td>
        <td><%= exhibitor.contact_address %></td>
        <td><%= exhibitor.contact_email %></td>
        <td><%= exhibitor.billing_address_type %></td>
        <td><%= exhibitor.billing_address %></td>
        <td><%= exhibitor.signage %></td>
        <td><%= exhibitor.other_activity %></td>
        <td><%= exhibitor.products %></td>
        <td><%= exhibitor.brands %></td>
        <td><%= exhibitor.insurance_agreement %></td>
        <td><%= exhibitor.insurance_type %></td>
        <td><%= exhibitor.booth_surface %></td>
        <td><%= exhibitor.booth_junk_surface %></td>
        <td><%= exhibitor.majoration_central_allery %></td>
        <td><%= exhibitor.confort_surface %></td>
        <td><%= exhibitor.turnkey_surface %></td>
        <td><%= exhibitor.turnkey_options %></td>
        <td><%= exhibitor.badges_count %></td>
        <td><%= exhibitor.invitations_count %></td>
        <td><%= exhibitor.logo_confirmed %></td>
        <td><%= exhibitor.home_ad_banner %></td>
        <td><%= exhibitor.visitor_ad_banner %></td>
        <td><%= exhibitor.page_ad_banner %></td>
        <td><%= exhibitor.summit_logo_confirmed %></td>
        <td><%= exhibitor.bag_confirmed %></td>
        <td><%= exhibitor.payment_version %></td>
        <td><%= exhibitor.wishes %></td>
        <td><%= exhibitor.event_id %></td>
        <td><%= exhibitor.angle_id %></td>
        <td><%= link_to 'Show', exhibitor %></td>
        <td><%= link_to 'Edit', edit_exhibitor_path(exhibitor) %></td>
        <td><%= link_to 'Destroy', exhibitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exhibitor', new_exhibitor_path %>
