<div class="container-fluid" id="colored-subheader" style="background-image: url('<%= @event.event_cover %>'); background-size: cover;">
</div>

<div class="container event-data text-center">
  <div class="event-logo">
    <% if @event.logo.attached? %>
      <%= image_tag @event.logo %>
    <% else %>
      <%= image_tag('default-cover.png') %>
    <% end %>
  </div>
  <div class="event-body">
    <br>
    <div class="event-title">
      <h1><%= @event.name %></h1>
    </div>
    <div class="event-date">
      <%= l @event.start_date, format: :long %> - <%= l @event.end_date, format: :long %>
    </div>
  </div>
</div>


<div class="container form-container">
  <%= render 'form', exhibitor: @exhibitor %>
</div>
