<p id="notice"><%= notice %></p>

<p>
  <strong>Is exhibitor:</strong>
  <%= @exhibitor.is_exhibitor %>
</p>

<p>
  <strong>Social name:</strong>
  <%= @exhibitor.social_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @exhibitor.address %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @exhibitor.zipcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @exhibitor.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @exhibitor.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @exhibitor.fax %>
</p>

<p>
  <strong>Web:</strong>
  <%= @exhibitor.web %>
</p>

<p>
  <strong>Manager name:</strong>
  <%= @exhibitor.manager_name %>
</p>

<p>
  <strong>Manager phone:</strong>
  <%= @exhibitor.manager_phone %>
</p>

<p>
  <strong>Manager email:</strong>
  <%= @exhibitor.manager_email %>
</p>

<p>
  <strong>Commercial name:</strong>
  <%= @exhibitor.commercial_name %>
</p>

<p>
  <strong>Commercial phone:</strong>
  <%= @exhibitor.commercial_phone %>
</p>

<p>
  <strong>Commercial email:</strong>
  <%= @exhibitor.commercial_email %>
</p>

<p>
  <strong>Marketing name:</strong>
  <%= @exhibitor.marketing_name %>
</p>

<p>
  <strong>Marketing phone:</strong>
  <%= @exhibitor.marketing_phone %>
</p>

<p>
  <strong>Marketing email:</strong>
  <%= @exhibitor.marketing_email %>
</p>

<p>
  <strong>Email:</strong>
  <%= @exhibitor.email %>
</p>

<p>
  <strong>Naf:</strong>
  <%= @exhibitor.naf %>
</p>

<p>
  <strong>Siren:</strong>
  <%= @exhibitor.siren %>
</p>

<p>
  <strong>Tva code:</strong>
  <%= @exhibitor.tva_code %>
</p>

<p>
  <strong>Company creation date:</strong>
  <%= @exhibitor.company_creation_date %>
</p>

<p>
  <strong>Is experienced:</strong>
  <%= @exhibitor.is_experienced %>
</p>

<p>
  <strong>Experience event:</strong>
  <%= @exhibitor.experience_event %>
</p>

<p>
  <strong>Experience year:</strong>
  <%= @exhibitor.experience_year %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @exhibitor.contact_name %>
</p>

<p>
  <strong>Contact title:</strong>
  <%= @exhibitor.contact_title %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @exhibitor.contact_phone %>
</p>

<p>
  <strong>Contact mobile:</strong>
  <%= @exhibitor.contact_mobile %>
</p>

<p>
  <strong>Contact address type:</strong>
  <%= @exhibitor.contact_address_type %>
</p>

<p>
  <strong>Contact address:</strong>
  <%= @exhibitor.contact_address %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @exhibitor.contact_email %>
</p>

<p>
  <strong>Billing address type:</strong>
  <%= @exhibitor.billing_address_type %>
</p>

<p>
  <strong>Billing address:</strong>
  <%= @exhibitor.billing_address %>
</p>

<p>
  <strong>Signage:</strong>
  <%= @exhibitor.signage %>
</p>

<p>
  <strong>Other activity:</strong>
  <%= @exhibitor.other_activity %>
</p>

<p>
  <strong>Products:</strong>
  <%= @exhibitor.products %>
</p>

<p>
  <strong>Brands:</strong>
  <%= @exhibitor.brands %>
</p>

<p>
  <strong>Insurance agreement:</strong>
  <%= @exhibitor.insurance_agreement %>
</p>

<p>
  <strong>Insurance type:</strong>
  <%= @exhibitor.insurance_type %>
</p>

<p>
  <strong>Booth surface:</strong>
  <%= @exhibitor.booth_surface %>
</p>

<p>
  <strong>Booth junk surface:</strong>
  <%= @exhibitor.booth_junk_surface %>
</p>

<p>
  <strong>Majoration central allery:</strong>
  <%= @exhibitor.majoration_central_allery %>
</p>

<p>
  <strong>Confort surface:</strong>
  <%= @exhibitor.confort_surface %>
</p>

<p>
  <strong>Turnkey surface:</strong>
  <%= @exhibitor.turnkey_surface %>
</p>

<p>
  <strong>Turnkey options:</strong>
  <%= @exhibitor.turnkey_options %>
</p>

<p>
  <strong>Badges count:</strong>
  <%= @exhibitor.badges_count %>
</p>

<p>
  <strong>Invitations count:</strong>
  <%= @exhibitor.invitations_count %>
</p>

<p>
  <strong>Logo confirmed:</strong>
  <%= @exhibitor.logo_confirmed %>
</p>

<p>
  <strong>Home ad banner:</strong>
  <%= @exhibitor.home_ad_banner %>
</p>

<p>
  <strong>Visitor ad banner:</strong>
  <%= @exhibitor.visitor_ad_banner %>
</p>

<p>
  <strong>Page ad banner:</strong>
  <%= @exhibitor.page_ad_banner %>
</p>

<p>
  <strong>Summit logo confirmed:</strong>
  <%= @exhibitor.summit_logo_confirmed %>
</p>

<p>
  <strong>Bag confirmed:</strong>
  <%= @exhibitor.bag_confirmed %>
</p>

<p>
  <strong>Payment version:</strong>
  <%= @exhibitor.payment_version %>
</p>

<p>
  <strong>Wishes:</strong>
  <%= @exhibitor.wishes %>
</p>

<p>
  <strong>Event:</strong>
  <%= @exhibitor.event_id %>
</p>

<p>
  <strong>Angle:</strong>
  <%= @exhibitor.is_angle_a %> a
  <%= @exhibitor.is_angle_b %> b
  <%= @exhibitor.is_angle_c %> c
  <%= @exhibitor.is_angle_d %> d
</p>

<%= link_to 'Edit', edit_exhibitor_path(@exhibitor) %> |
<%= link_to 'Back', exhibitors_path %>
