<div class="alert" id="notice" role="alert" style="display:<%= 'none' unless notice %> ">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>