<div class="alert" id="notice" role="alert" style="display:<%= 'none' unless notice %> ">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="container events-list">
  <div class="row">
    <% @events.order('start_date asc').each do |event| %>
      <div class="col-md-4 card-container">
        <div class="poster-card">
          <a href="<%= event_path(event) %>" class="poster-card__main">
            <div class="poster-card__header">
              <div class="poster-card__image">
                <!--            <img class="js-poster-image" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F58496115%2F167405918561%2F1%2Foriginal.20190314-172050?w=800&auto=compress&rect=0%2C0%2C3578%2C1789&s=abd12dc1e15afd18f42f11ca8a6f7f26">-->
                <% if event.cover.attached? %>
                  <%= image_tag(event.cover, class: 'js-poster-image') %>
                <% else %>
                  <%= image_tag('default-cover.png', class: 'js-poster-image') %>
                <% end %>
              </div>

              <span class="event-label">Gratuit</span>

            </div>

            <div class="poster-card__body">
              <time class="poster-card__date">
                <%= l event.start_date, format: :long if event.start_date %> -
                <%= l event.end_date, format: :long if event.end_date %>
              </time>
              <div class="poster-card__title">
                <%= event.name %>
              </div>
              <div class="poster-card__venue">
                <%= event.location.truncate(20, omission: '...') %>
              </div>
            </div>
          </a>

        </div>
      </div>

    <% end %>
  </div>
</div>