<p id="notice"><%= notice %></p>

<h1>Events</h1>

<div class="container">

    <% @events.each do |event| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= event.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= event.start_date %> / <%= event.end_date %></h6>
          <p class="card-text"><%= event.description.truncate(150, omission: '...') %></p>
          <a href="#" class="card-link"><%= event.location.truncate(20, omission: '...') %></a>
          <a href="#" class="card-link"><%= link_to 'Voir', event %></a>
        </div>
      </div>
    <% end %>
</div>
