<div class="container-fluid" id="colored-subheader">
</div>

<div class="container content">

  <div class="row">
    <div class="col-md-8 header-image" style="background-image: url('<%= @event.event_cover %>');">

    </div>
    <div class="col-md-4 header-box">
      <div class="event-logo">
        <% if @event.logo.attached? %>
          <%= image_tag @event.logo, class: 'img-thumbnail' %>
          <% else %>
        <%= image_tag('default-cover.png', class: 'img-thumbnail') %>
        <% end %>
      </div>
      <time class="event-date" datetime="<%= @event.start_date %>">
        <p class="event-date-short">
          <%= l @event.start_date, format: :long if @event.start_date %> -
          <%= l @event.end_date, format: :long if @event.end_date %>
        </p>
      </time>
      <div class="event-name">
        <h1 class="event-name-title"><%= @event.name %></h1>
      </div>

    </div>
  </div>

  <div class="row action-box">
    <div class="col-md-8 quick-actions">

      <%= link_to '<i class="fas fa-ticket-alt"></i> Prendre votre ticket'.html_safe,
                  event_tickets_path(@event.slug),
                  data: {turbolinks: false},
                  class: 'btn-go-ticket-action' %>
    </div>
    <div class="col-md-4 exhibitors-button">

      <%= link_to 'Devenir exposant',
                  new_event_exhibitor_path(@event.slug),
                  data: {turbolinks: false},
                  class: 'btn-go-action' %>
    </div>
  </div>

  <div class="row main-container">
    <div class="col-md-8 description-container">
      <%= @event.description %>
      <br><br>
      <span>Plus d'informations:</span>
      <%= link_to "#{@event.web_url if @event.web_url}", "#{@event.web_url if @event.web_url}", target: '_blank' %>
    </div>
    <div class="col-md-4 info-sidebar">
      <div class="info-block">


      </div>

      <div class="info-block">
        <h3>Date :</h3>
        <p><%= l @event.start_date, format: :long if @event.start_date %> -
          <%= l @event.end_date, format: :long if @event.end_date %></p>
      </div>

      <div class="info-block">
        <h3>Horaires :</h3>
        <p>10h-19h</p>
      </div>


      <div class="info-block">
          <h3>Lieu :</h3>
          <p><%= @event.location %></p>
        </div>

        <div class="info-block">
          <h3>Organisé par :</h3>
          <p><%= link_to "#{@event.organizer_name.titlecase if @event.organizer_name}",
                        "#{@event.organizer_url if @event.organizer_url}", target: '_blank' %>
          </p>
        </div>
    </div>
  </div>

  <div class="row social-links">

    <ul class="icons">
      <li><a href="<%= @event.facebook_link %>"><i class="fab fa-facebook"></i></a></li>
      <li><a href="<%= @event.twitter_link %>"><i class="fab fa-twitter"></i></a></li>
      <li><a href="<%= @event.instagram_link %>"><i class="fab fa-instagram"></i></a></li>
      <li><a href="<%= @event.pinterest_link %>"><i class="fab fa-pinterest"></i></a></li>
    </ul>

  </div>

</div>
