<div class="alert" id="alert" role="alert">
  <% order.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
