<div class="modal-header">
  <h5 class="modal-title" id="modal-lgLabel">Passer une commande</h5>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
  <%= form_with(model: order, local: false) do |form| %>
    <% if order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
          <% order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :user_id, value: current_user.id, class: 'form-control' %>
    <%= form.hidden_field :ticket_id, value: ticket.id, class: 'form-control' %>
    <%= form.hidden_field :event_id, value: event.id, class: 'form-control' %>

    <div class="form-group">
      <!-- <%= form.label :amount %> -->
      <%= form.hidden_field :amount, value: '%g' % ticket.price, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label>Nombre de tickets</label>
      <%= form.number_field :quantity, value: 0, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= form.submit 'Réserver', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
