<script src="https://js.stripe.com/v3/"></script>
<div class="modal-header">
  <h5 class="modal-title" id="modal-lgLabel">Stripe Payment</h5>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
  <input id="cardholder-name" class="StripeElement" style="width: 100%" type="text" placeholder="Card Holder">
  <span class="error red"></span>
  <br>
  <!-- placeholder for Elements -->
  <div id="card-element"></div>
  <button id="card-button" data-disable-with="Loading...">Submit Payment <%= "%g" % order.total_price %>€</button>

  <div>
    <a href="https://www.stripe.com" target="_blank">
      <div class="svg-image">
        <%= show_svg('powered_by_stripe.svg') %>
      </div>
    </a>
  </div>

  <script type="text/javascript" charset="utf-8">
      $('#cardholder-name').on('input', function () {
          $('span.error').html('');
      });
      var stripe = Stripe('<%= Rails.configuration.stripe[:publishable_key] %>');

      var elements = stripe.elements();
      var cardElement = elements.create('card');
      cardElement.mount('#card-element');

      var cardholderName = document.getElementById('cardholder-name');
      var cardButton = document.getElementById('card-button');

      var cardButtonInitText;

      cardButton.addEventListener('click', async (ev) => {
          cardButtonInitText = cardButton.innerHTML;
          cardButton.innerHTML = "Loading...";
          cardButton.disabled = true;
          var {paymentMethod, error} =
              await stripe.createPaymentMethod('card', cardElement, {
                  billing_details: {name: cardholderName.value}
              });
          if (error) {
              // Show error in payment form

              if (cardholderName.value == '') {
                  $('span.error').html('Card holder is missing');
              }

              cardButton.disabled = false;
              cardButton.innerHTML = cardButtonInitText;

          } else {
              // Send paymentMethod.id to your server (see Step 2)
              $('span.error').html('Payment has failed');
              cardButton.disabled = false;
              cardButton.innerHTML = cardButtonInitText;
              var response = await fetch('/charges', {
                  method: 'POST',
                  headers: {'Content-Type': 'application/json'},
                  body: JSON.stringify({
                      payment_method_id: paymentMethod.id,
                      authenticity_token: $('meta[name="csrf-token"]').attr("content"),
                      order_id: <%= order.id %>
                  })
              });

              var json = await response.json();

              // Handle server response (see Step 3)
              handleServerResponse(json);

          }
      });

      var handleServerResponse = async (response) => {
          if (response.error) {
              // Show error from server on payment form
          } else if (response.requires_action) {

              // Use Stripe.js to handle the required card action
              var {error: errorAction, paymentIntent} =
                  await stripe.handleCardAction(response.payment_intent_client_secret);

              if (errorAction) {
                  // Show error from Stripe.js in payment form

              } else {
                  // The card action has been handled
                  // The PaymentIntent can be confirmed again on the server

                  var serverResponse = await fetch('/charges', {
                      method: 'POST',
                      headers: {'Content-Type': 'application/json'},
                      body: JSON.stringify({
                          payment_intent_id: paymentIntent.id,
                          authenticity_token: $('meta[name="csrf-token"]').attr("content")
                      })
                  });
                  handleServerResponse(await serverResponse.json());
              }
          } else {

              cardButton.disabled = false;
              cardButton.innerHTML = cardButtonInitText;
              $('#modal-lg').modal('hide');
              location.reload();
              // Show success message
          }
      }
  </script>
</div>