$('#error_explanation').remove();
<% if @order.errors.any? %>
$('#modal-lg .modal-content .modal-body').prepend("<%= escape_javascript render 'orders/modal_error', order: @order %>")
var errorMessage = document.getElementById('err-msg');
fade(errorMessage);
<% else %>
$('.success').html('<%= escape_javascript render 'shared/notice', notice: notice %>')
window.location.href = "<%= orders_path %>"

<% end %>
