<script src="https://js.stripe.com/v3/"></script>
<div class="success">
  <div class="alert" id="notice" role="alert" style="display:<%= 'none' unless notice %> ">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="errors"></div>
<div class="container orders">

  <br>
  <h1>Mes Commandes</h1>

  <table class="table orders-list">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Ticket</th>
      <!--<th>Transaction</th>-->
      <th>Amount</th>
      <th>Event</th>
      <th>Quantity</th>
      <th>Status</th>
      <th colspan="3">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @orders.each do |order| %>
      <tr id="row-<%= order.id %>">
        <td><%= order.user.full_name %></td>
        <td><%= order.ticket.title %></td>
        <!--<td><%#= order.transaction_id %></td>-->
        <td id="amount-<%= order.id %>"><%= '%g' % (order.total_price) %>€</td>
        <td><%= order.event.name %></td>
        <td id="qte-<%= order.id %>"><%= order.quantity %></td>
        <td><%= status(order) %></td>
        <% unless order.status == 'payed' %>
          <td><%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe, add_item_order_path(order), remote: true %></td>
          <td><%= link_to '<i class="fas fa-minus-circle"></i>'.html_safe, remove_item_order_path(order), remote: true %></td>
          <td>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe,
                        order,
                        class: 'red',
                        method: :delete,
                        data: {confirm: 'Are you sure?'},
                        remote: true
            %>

          </td>
          <td>
            <%= link_to 'Payer', stripe_payment_path(order_id: order),
                        class: 'btn btn-primary',
                        data: {disable_with: 'loading...'},
                        remote: true %>
            <%#= form_tag purchase_order_path(order), method: :post do %>
            <%#= submit_tag 'Payer', class: 'btn btn-primary', data: {disable_with: 'loading...'} %>
            <%# end %>
          </td>
        <% else %>
          <td>
            <%= link_to 'Tickets', order_items_path(order) %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>


</div>

<div class="modal fade" id="modal-lg" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>


<script type="text/javascript" charset="utf-8">

</script>