$('.alert.alert-danger').remove();
<% if @order.errors.any? %>
$('.errors').prepend("<%= escape_javascript render 'orders/errors', order: @order %>")
var alert = document.getElementById('alert');
fade(alert);
<% else %>
$('#qte-<%= @order.id %>').html('<%= @order.quantity %>');
$('#amount-<%= @order.id %>').html('<%= '%g' % (@order.total_price) %>€')
<% end %>