<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.number_field :event_id %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :max_per_person %>
    <%= form.number_field :max_per_person %>
  </div>

  <div class="field">
    <%= form.label :min_per_person %>
    <%= form.number_field :min_per_person %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :sold %>
    <%= form.number_field :sold %>
  </div>

  <div class="field">
    <%= form.label :start_sales_date %>
    <%= form.date_select :start_sales_date %>
  </div>

  <div class="field">
    <%= form.label :end_sales_date %>
    <%= form.date_select :end_sales_date %>
  </div>

  <div class="field">
    <%= form.label :is_paused %>
    <%= form.check_box :is_paused %>
  </div>

  <div class="field">
    <%= form.label :is_hidden %>
    <%= form.check_box :is_hidden %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
