<div class="alert" id="notice" role="alert" style="display:<%= 'none' unless notice %> ">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div id="tickets-list" class="container">


  <% @tickets.each do |ticket| %>
    <div class="ticket-box">


      <div class="ticket-wrap">
        <div class="card cardLeft">
          <h1><%= ticket.event.name %></h1>
          <div class="title">
            <h2>Type of ticket</h2>
            <span><%= ticket.title %></span>
          </div>
          <div class="name">
            <h2><%= current_user.last_name %> <%= current_user.first_name %></h2>
            <span>last name - first name</span>
          </div>
          <div class="seat">
            <h2>QQEPOJ13209HJ</h2>
            <span>Du <%= ticket.event.start_date %> au <%= ticket.event.start_date %> | <%= ticket.event.start_hour %>h - <%= ticket.event.end_hour %>
              h</span>
          </div>

        </div>
        <div class="card cardRight">
          <div class="price">€<%= '%g' % ticket.price %></div>
          <div class="number">
            <h3><%= ticket.available_qte %></h3>
            <span>restants</span>
          </div>
        </div>

      </div>

      <div class="container action-button text-right">
        <% if ticket.orders.where(user: current_user).present? %>
          <%= link_to 'Mes Commandes', orders_path,
                      class: 'btn btn-primary pull-right' %>
        <% else %>
          <%= link_to 'Prendre ce ticket', new_order_path(event: @event, ticket: ticket.id),
                      class: 'btn btn-success pull-right',
                      remote: true, 'data-toggle': 'modal',
                      'data-target': '#modal-lg' %>
        <% end %>
        <div class="clearfix"></div>
      </div>

      <div class="clearfix"></div>
    </div>

  <% end %>

</div>

<div class="modal fade" id="modal-lg" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
    $('.modal').on('hidden.bs.modal', function () {
        $(this).find('form')[0].reset();
    });
</script>