<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>

<p>
  <strong>Event:</strong>
  <%= @ticket.event_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ticket.price %>
</p>

<p>
  <strong>Max per person:</strong>
  <%= @ticket.max_per_person %>
</p>

<p>
  <strong>Min per person:</strong>
  <%= @ticket.min_per_person %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @ticket.quantity %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @ticket.sold %>
</p>

<p>
  <strong>Start sales date:</strong>
  <%= @ticket.start_sales_date %>
</p>

<p>
  <strong>End sales date:</strong>
  <%= @ticket.end_sales_date %>
</p>

<p>
  <strong>Is paused:</strong>
  <%= @ticket.is_paused %>
</p>

<p>
  <strong>Is hidden:</strong>
  <%= @ticket.is_hidden %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
