
<div class="sidenav">
    <div class="login-main-text">
       <h2>Se Connecter</h2>
       <p>Connectez-vous à votre compte ou céez-en un pour continuer</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
             <div class="form-group">
                <label>Email</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
             </div>
             <div class="form-group">
                <label>Mot de passe</label>
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
             </div>
             <% if devise_mapping.rememberable? %>
             <div class="form-group">
                <%= f.check_box :remember_me %>
                <label>Se rappeler de moi</label>
             </div>
              <% end %>
             <button type="submit" class="btn btn-black">Connexion</button>
             <a href="/users/sign_up" class="btn btn-secondary">S'enregistrer</a>
            <% end %>
       </div>
    </div>
 </div>





<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
