.eventster {
    .navbar-default {
        background-color: #fff;
        border-color: #e7e7e7;
    }

    .navbar-brand {
        //padding: 5px;

        .company-logo {
            height: 25px;
        }
    }
    #colored-subheader {
        background: linear-gradient(135deg, rgb(139, 114, 91) 0%, rgb(43, 37, 33) 100%);
        height: 400px;


        position: absolute;
        top: 52px;
        right: 0px;
        left: 0px;

        z-index: 0;

    }

    .content {
        z-index: 1;

        margin-top: 100px;
        background: white;
        box-shadow: 0 0 10px rgba(51, 51, 51, 0.4);

        .header-image {
            height: 400px;
            background-position: center;
            background-size: cover;
        }

        .header-box {
            padding-top: 30px;

            .event-logo {
                img {
                    height: 100px;
                    width: auto;
                }
            }

            .event-date {
                p {
                    color: rgb(158, 158, 158);
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 20px;
                    margin-top: 20px;
                }
            }

            .event-name {
                .event-name-title {
                    color: #6F7287;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 30px;
                    margin-top: 20px;
                }
            }
        }

        .action-box {
            border-style: solid;
            border-color: #DBDAE3;
            border-width: 1px 0;
            background-color: #fff;
            // padding-top: 10px;
            // padding-bottom: 10px;
            box-sizing: border-box;
            height: 66px;
            line-height: 66px;

            .quick-actions {
                text-align: center;
                padding: 10px;
                .btn-go-ticket-action {
                    width: 100%;
                    // max-width: 320px;
                    float: none;
                    display: block;

                    // padding-left: 30px;
                    // padding-right: 30px;
                    // padding-top: 10px;
                    // padding-bottom: 10px;
                    margin-top: 0;
                    font-weight: 600;
                    color: #FFF;
                    background-color: #f47721;
                    border-radius: 4px;
                    height: 45px;
                    line-height: 45px;

                    &:hover {
                        text-decoration: none;
                    }
                }

            }

            .exhibitors-button {
                text-align: center;
                padding: 10px;
                .btn-go-action {
                    width: 100%;
                    // max-width: 320px;
                    float: none;
                    display: block;

                    // padding-left: 30px;
                    // padding-right: 30px;
                    // padding-top: 10px;
                    // padding-bottom: 10px;
                    margin-top: 0;
                    font-weight: 600;
                    color: #FFF;
                    background-color: #0D8547;
                    border-radius: 4px;
                    height: 45px;
                    line-height: 45px;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        .main-container {
            padding-top: 20px;
            padding-bottom: 20px;

            .description-container {
                font-size: 18px;
                color: #6F7287;
            }
        }

        .social-links {
            border-top: 1px solid #DBDAE3;

            margin-left: 20px;
            margin-right: 20px;
            padding-top: 20px;
            padding-bottom: 20px;

            .icons {
                padding: 0px;
                margin: 0px;

                li {
                    padding: 0px;
                    margin: 0px;

                    display: inline-block;
                    list-style: none;

                    margin-right: 10px;
                    
                    a {
                        color: #4B4D63;
                        font-size: 35px;

                        i {
                            color: #4B4D63;
                        }

                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }

    .footer-container {
        flex-shrink: 0;
        border-top: #4B4D63 solid 6px;
        color: #fff;
        background-color: #1E0A3C;
        padding: 20px 0;
        width: 100%;
        margin-top: 40px;
        text-align: center;

        a {
            color: #fff;
        }
    }
}

.events-list {
    .card-container {
        .poster-card {
            transition: box-shadow .2s cubic-bezier(0,.2,.4,1);
            background-color: #FFF;
            box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
            display: block;
            margin-bottom: 20px;
            min-height: 310px;

            .poster-card__main {
                .poster-card__header {
                    .poster-card__image {
                        transition: background-color .5s;
                        overflow: hidden;
                        text-align: center;
                        // position: absolute;
                        // top: 0;
                        // left: 0;
                        // width: 100%;
                        // height: 100%;

                        img {
                            max-width: 100%;
                            max-height: 100%;
                            height: 180px;
                            object-fit: cover;
                            // -webkit-transform: translateY(-50%);
                            // -moz-transform: translateY(-50%);
                            // -ms-transform: translateY(-50%);
                            // -o-transform: translateY(-50%);
                            // transform: translateY(-50%);
                            position: relative;
                            // top: 50%;

                        }
                    }

                    .event-label {
                        background-color: #fff;
                        background-color: rgba(255,255,255,.92);
                        text-transform: uppercase;
                        font-size: 13px;
                        line-height: 16px;
                        color: #1E0A3C;
                        box-sizing: border-box;
                        padding: 2px 10px;
                        position: absolute;
                        display: inline-block;
                        top: 10px;
                        right: 25px;
                    }
                }

                .poster-card__body {
                    min-height: 120px;
                    padding: 10px;

                    .poster-card__date {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        display: block;
                        color: #39364F;
                        font-size: 13px;
                        line-height: 16px;
                        height: 2em;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        padding: 5px 0 0;
                    }

                    .poster-card__title {
                        display: block;
                        display: -webkit-box;
                        max-height: 38px;
                        margin: 0 auto;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: #1E0A3C;
                        font-size: 15px;
                        line-height: 19px;
                        max-height: 2.5em;
                        font-weight: 600;
                        letter-spacing: 0;
                        padding: 0;
                        height: 2.5em;
                    }
    
                    .poster-card__venue {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        color: #6F7287;
                        font-size: 13px;
                        line-height: 16px;
                        height: 2em;
                        padding: 5px 0 0;
                    }
                }
            }
        }
    }
}