// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.items-list-container {
    padding-top: 100px;

    h1 {
        padding-bottom: 20px;
    }
    .order-items-list {
        background: #fff;
        padding: 1em;
        box-shadow: 0 0 10px rgba(51, 51, 51, 0.4);
        border-radius: 4px;
    
    } 
}
  