// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orders {
    h1 {
        margin-top: 10px;
        margin-bottom: 40px;
        font-weight: 900;
        font-size: 30px;
    }
    .orders-list {
        box-shadow: 0 0 10px rgba(51, 51, 51, 0.4);
        border-radius: 4px;
        background: #fff;
    }
}