// Place all the styles related to the tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red: #e84c3d;
$grey: #ecedef;
$black: #343434;


#tickets-list{
  flex: 1 0 auto;
}
.ticket-box {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.4);
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.ticket-wrap {
    width: 100%;
    margin-left: 6px;
    color: #fff;
    font-family: sans-serif;
}

.card {
    background: linear-gradient(to bottom, $red 0%, $red 26%, $grey 26%, $grey 100%);
    height: 250px;
    float: left;
    position: relative;
    padding: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cardLeft {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 70%;

    h1 {
        margin-bottom: .5rem;
        font-weight: 900;
        line-height: 35px;
        font-size: 25px;
        text-transform: capitalize;
    }
}

.cardRight {
    width: 29%;
    border-left: .18em dashed #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    &:before,
    &:after {
        content: "";
        position: absolute;
        display: block;
        width: .9em;
        height: .9em;
        background: #fff;
        border-radius: 50%;
        left: -.5em;
    }

    &:before {
        top: -.4em;
    }

    &:after {
        bottom: -.4em;
    }
}

h1 {
    font-size: 1.1em;
    margin-top: 0;

    span {
        font-weight: normal;
    }
}

.title,
.name,
.seat,
.time {
    text-transform: uppercase;
    font-weight: normal;

    h2 {
        font-size: .9em;
        color: #525252;
        margin: 0;
    }

    span {
        font-size: .7em;
        color: #a2aeae;
    }
}

.title {
    margin: 2em 0 0 0;
}

.name,
.seat {
    margin: .7em 0 0 0;
}

.time {
    margin: .7em 0 0 1em;
}

.seat,
.time {
    float: left;
}

.price {
    position: relative;
    // width: 2em;
    height: 1.5em;
    margin: 0 auto;
    z-index: 1;
    font-size: 25px;
    font-weight: 900;

}

.number {
    text-align: center;
    text-transform: uppercase;

    h3 {
        color: $red;
        margin: .9em 0 0 0;
        font-size: 2.5em;

    }

    span {
        display: block;
        color: #a2aeae;
    }
}

.barcode {
    height: 2em;
    width: 0;
    margin: 1.2em 0 0 .8em;
    box-shadow: 1px 0 0 1px $black,
        5px 0 0 1px $black,
        10px 0 0 1px $black,
        11px 0 0 1px $black,
        15px 0 0 1px $black,
        18px 0 0 1px $black,
        22px 0 0 1px $black,
        23px 0 0 1px $black,
        26px 0 0 1px $black,
        30px 0 0 1px $black,
        35px 0 0 1px $black,
        37px 0 0 1px $black,
        41px 0 0 1px $black,
        44px 0 0 1px $black,
        47px 0 0 1px $black,
        51px 0 0 1px $black,
        56px 0 0 1px $black,
        59px 0 0 1px $black,
        64px 0 0 1px $black,
        68px 0 0 1px $black,
        72px 0 0 1px $black,
        74px 0 0 1px $black,
        77px 0 0 1px $black,
        81px 0 0 1px $black;
}