<div class="container items-list-container">
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>
  <h1>Commande N°<%= @order.id %> pour "<%= @order.event.name %>"</h1>

  <table class="table order-items-list">
    <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>

      <th>Event</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.first_name %></td>
        <td><%= item.last_name %></td>
        <td><%= item.email %></td>

        <td><%= item.event.name %></td>

        <td>
          <% unless item.email.present? %>
            <%= link_to '<i class="fas fa-user-plus"></i>'.html_safe, edit_order_item_path(@order, item), remote: true %>
          <% end %>
        </td>

      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

</div>

<div class="modal fade" id="modal-lg" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
    $('.modal').on('hidden.bs.modal', function () {
        $(this).find('form')[0].reset();
    });
</script>