<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @item.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @item.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @item.email %>
</p>

<p>
  <strong>Order:</strong>
  <%= @item.order_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @item.event_id %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
