<div class="panel rounded-sm panel-box" id="badge-section">

  <h3>Badges et invitations supplémentaires</h3>

  <div class="form-row">
    <div class="form-group col-md-8">
      <label>Badge exposant supplémentaire</label>
      <p><%= '%g' % @event.badge.badge_price %> Euros HT/Badge</p>
      <%= form.number_field :badges_count, class: "form-control badge-input",
                            placeholder: "Badges supplémentaires souhaités", min: "0" %>
    </div>
    <div class="form-group col-md-4">
      <label>Total</label>
      <p>&nbsp;</p>
      <input class="form-control totalbadge" id="exhibitor_badges_preview" disabled>
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col-md-8">
      <label>Cartes d’invitation</label>
      <p style="font-size: 15px">
        Cartes d’invitation supplémentaires (gratuit), quantité souhaitée + Frais de port
        de <%= '%g' % @event.badge.invitation_card_price %>€ HT
        (obligatoire)
      </p>
      <%= form.number_field :invitations_count, class: "form-control badge-input",
                            placeholder: "Badges supplémentaires souhaités", min: "0" %>
      <br>
      <p>E-invitations (gratuit) merci de NOUS CONTACTER : tél. 09 72 46 59 28 </p>
    </div>

    <div class="form-group col-md-4">
      <label>Total</label>
      <p>&nbsp;</p>
      <input class="form-control totalbadge" id="exhibitor_invitations_preview" disabled>
    </div>
  </div>

  <!-- Total Badge -->
  <%= form.hidden_field :total_badge, id: 'total_badge', class: 'subtotal', value: 0 %>

</div>

<script type="text/javascript" charset="utf-8">
    $('#exhibitor_badges_count').on('input', function () {
        var qty = $(this).val();
        var price = '<%= @event.badge.badge_price if @event.badge.badge_price %>';
        $('#exhibitor_badges_preview').val((qty * price ? qty * price : 0).toFixed(2));
    });
    $('#exhibitor_invitations_count').on('input', function () {
        var qty = $(this).val();
        var price = '<%= @event.badge.invitation_card_price if @event.badge.invitation_card_price %>';
        $('#exhibitor_invitations_preview').val((qty * price ? qty * price : 0).toFixed(2));
    });

    $('#badge-section .form-group').on('input', '.badge-input', function () {

        var totalSum = 0;
        $('#badge-section .form-group .totalbadge').each(function () {
            var inputVal = $(this).val();
            if ($.isNumeric(inputVal)) {
                totalSum += parseFloat(inputVal);
            }
        });

        $('#total_badge').val((totalSum ? totalSum : 0).toFixed(2));
        $('#total_badge').change();
        var total = $('#total');
        if ($('#acompte-30').is(':checked')) {
            total.change();
            $('.fifty').val('');
            $('.thirty').val(total.val() * 0.3);
        }
        if ($('#acompte-50').is(':checked')) {
            total.change();
            $('.thirty').val('');
            $('.fifty').val(total.val() * 0.5);
        }
    });
</script>