<div class="panel rounded-sm panel-box" id="communication_tool">

  <h3>Outils de communication</h3>

  <div class="form-row switch-box">
    <div class="form-group col-md-8">
      <label>Logo sur la liste des exposants en ligne</label>
      <p>
        <span id="com_price">
          <%= '%g' % @event.communication_tool.logo_price %>
        </span> € HT</p>
    </div>
    <div class="form-group col-md-4">
      <div class="custom-control custom-switch text-right">
        <label>Activer/Désactiver</label><br>
        <%= form.check_box :logo_confirmed, class: "custom-control-input com-input", id: "logo_confirmed", 'data-price': "#{'%g' % @event.communication_tool.logo_price}" %>
        <label class="custom-control-label" for="logo_confirmed"></label>
      </div>
    </div>
  </div>

  <div class="form-row switch-box">
    <div class="form-group col-md-8">
      <label>Bannière publicitaire en page d’accueil du site (468×60 pixels) : maximum 2 annonceurs
        alternés</label>
      <p>
        <span id="com_price">
          <%= '%g' % @event.communication_tool.homepage_banner_price %>
        </span> € HT</p>
    </div>
    <div class="form-group col-md-4">
      <div class="custom-control custom-switch text-right">
        <label>Activer/Désactiver</label><br>
        <%= form.check_box :home_ad_banner, class: "custom-control-input com-input", id: "home_ad_banner", 'data-price': "#{'%g' % @event.communication_tool.homepage_banner_price}" %>
        <label class="custom-control-label" for="home_ad_banner"></label>
      </div>
    </div>
  </div>

  <div class="form-row switch-box">
    <div class="form-group col-md-8">
      <label>Bannière publicitaire sur la page d’enregistrement visiteurs : maximum 2 annonceurs alternés</label>
      <p>
        <span id="com_price">
          <%= '%g' % @event.communication_tool.visitor_banner_price %>
        </span> € HT</p>
    </div>
    <div class="form-group col-md-4">
      <div class="custom-control custom-switch text-right">
        <label>Activer/Désactiver</label><br>
        <%= form.check_box :visitor_ad_banner, class: "custom-control-input com-input", id: "visitor_ad_banner", 'data-price': "#{'%g' % @event.communication_tool.visitor_banner_price}" %>
        <label class="custom-control-label" for="visitor_ad_banner"></label>
      </div>
    </div>
  </div>

  <div class="form-row switch-box">
    <div class="form-group col-md-8">
      <label>Bannière publicitaire sur une page du site au choix : maximum 2 annonceurs par page</label>
      <p>
        <span id="com_price">
          <%= '%g' % @event.communication_tool.webpage_banner_price %>
        </span> € HT</p>
    </div>
    <div class="form-group col-md-4">
      <div class="custom-control custom-switch text-right">
        <label>Activer/Désactiver</label><br>
        <%= form.check_box :page_ad_banner, class: "custom-control-input com-input", id: "page_ad_banner", 'data-price': "#{'%g' % @event.communication_tool.webpage_banner_price}" %>
        <label class="custom-control-label" for="page_ad_banner"></label>
      </div>
    </div>
  </div>

  <div class="form-row switch-box">
    <div class="form-group col-md-8">
      <label>Votre logo sur le plan de visite du Salon (limité à 5 exposants)</label>
      <p>
        <span id="com_price">
          <%= '%g' % @event.communication_tool.expo_logo_price %>
        </span> € HT</p>
    </div>
    <div class="form-group col-md-4">
      <div class="custom-control custom-switch text-right">
        <label>Activer/Désactiver</label><br>
        <%= form.check_box :summit_logo_confirmed, class: "custom-control-input com-input", id: "summit_logo_confirmed", 'data-price': "#{'%g' % @event.communication_tool.expo_logo_price}" %>
        <label class="custom-control-label" for="summit_logo_confirmed"></label>
      </div>
    </div>
  </div>

  <div class="form-row switch-box">
    <div class="form-group col-md-8">
      <label>Distribution de votre sac à l’entrée du Salon (1 exclusivité exposant)</label>
      <p>
        <span id="com_price">
          <%= '%g' % @event.communication_tool.distribution_bag_price %>
        </span> € HT</p>
    </div>
    <div class="form-group col-md-4">
      <div class="custom-control custom-switch text-right">
        <label>Activer/Désactiver</label><br>
        <%= form.check_box :bag_confirmed, class: "custom-control-input com-input", id: "bag_confirmed", 'data-price': "#{'%g' % @event.communication_tool.distribution_bag_price}" %>
        <label class="custom-control-label" for="bag_confirmed"></label>
      </div>
    </div>
  </div>

  <div class="form-row switch-box">
    <p>
      Sponsor des espaces d’animation : <b>merci de NOUS CONTACTER : contact@cosorg.online</b>
    </p>
    <p>
      Autres : <b>merci de NOUS CONTACTER : contact@cosorg.online</b>
    </p>
  </div>

  <%= form.hidden_field :total_communication, id: 'total_communication', class: 'subtotal', value: 0 %>

</div>

<script type="text/javascript" charset="utf-8">
    $('#communication_tool input[type=checkbox]').change(function () {
        var totalSum = 0;
        var totalInput = parseFloat($('#total_communication').val());
        if($(this).is(':checked')){

            var inputVal = $(this).data('price');
            totalSum += parseFloat(inputVal);
        }else{
            totalSum -= parseFloat($(this).data('price'));
        }

        $('#total_communication').val((totalInput + totalSum ? totalInput + totalSum : 0).toFixed(2));
        $('#total_communication').change();

        var total = $('#total');
        if ($('#acompte-30').is(':checked')) {
            total.change();
            $('.fifty').val('');
            $('.thirty').val(total.val() * 0.3);
        }
        if ($('#acompte-50').is(':checked')) {
            total.change();
            $('.thirty').val('');
            $('.fifty').val(total.val() * 0.5);
        }
    });
</script>