<div class="panel rounded-sm panel-box" id="local_layout">

  <h3>Aménagement</h3>
  <p>Le prix de l’aménagement s’ajoute à celui du stand nu ci-dessus.</p>
  <p>Le nombre de m2 « Aménagement » doit être égal au m2 stand nu ci-dessus.</p>


  <div class="form-row image-example">
    <div class="form-group col-md-8">
      <label>Formule confort</label>
      <p><%= "%g" % @event.local_layout.comfort_formula_price %> Euros HT/m2</p>
      <%= form.number_field :confort_surface, class: "form-control lcl", placeholder: "surface de votre stand", min: "0" %>
    </div>
    <div class="form-group col-md-4">
      <label>Total</label>
      <p>&nbsp;</p>
      <input class="form-control totallcl" id="exhibitor_confort_surface_preview" disabled>
    </div>
    <div class="col-md-4 text-center">
      <img src="/images/confort.png" class="img-responsive">
    </div>
    <div class="col-md-8">
      <p>Comprend : moquette (coloris défini par la Direction du Salon), cloisons mélaminées de séparation, 1
        enseigne drapeau indiquant le nom de l’exposant et le numéro de stand, raidisseur, traverse haute, 3 spots
        de
        100W (par module de 9m2 ).</p>
    </div>
  </div>


  <div class="form-row image-example">
    <div class="form-group col-md-8">
      <label>Formule clé en main</label>
      <p><%= "%g" % @event.local_layout.turnkey_formula_price %> Euros HT/m2</p>
      <%= form.number_field :turnkey_surface, class: "form-control lcl", placeholder: "surface de votre stand", min: "0" %>
    </div>
    <div class="form-group col-md-4">
      <label>Total</label>
      <p>&nbsp;</p>
      <input class="form-control totallcl" id="exhibitor_turnkey_surface_preview" disabled>
    </div>
    <div class="col-md-4 text-center">
      <img src="/images/turnkey.png" class="img-responsive">
    </div>
    <div class="col-md-8">
      <p>Comprend : moquette (coloris défini par la Direction du Salon), cloisons mélaminées de séparation, 1
        enseigne drapeau indiquant le nom de l’exposant et le numéro de stand, raidisseurs,
        traverse haute, 3 spots de 100W (par module de 9m , une réserve de 1m fermant à clé (par module de 9m2
        donation mobilier:<br>

        <%= radio_button_tag(:turnkey_options, "table_chaise") %>
        <i>1 table et 3 chaises</i> ou
        <%= radio_button_tag(:turnkey_options, "comptoir_tabouret") %>
        <i>1 comptoir et 1 tabouret</i>

      </p>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
      <label>Formule sur mesure</label>
      <p>nous consulter pour recevoir un devis : contact@cosorg.online</p>
    </div>
  </div>

  <!-- Total Local Layout -->
  <%= form.hidden_field :total_badge, id: 'total_layout', class: 'subtotal', value: 0 %>

</div>

<script type="text/javascript" charset="utf-8">
    $('#exhibitor_confort_surface').on('input', function () {
        var qty = $(this).val();
        var price = '<%= @event.local_layout.comfort_formula_price if @event.local_layout.comfort_formula_price %>';
        $('#exhibitor_confort_surface_preview').val((qty * price ? qty * price : 0).toFixed(2));
    });
    $('#exhibitor_turnkey_surface').on('input', function () {
        var qty = $(this).val();
        var price = '<%= @event.local_layout.turnkey_formula_price if @event.local_layout.turnkey_formula_price %>';
        $('#exhibitor_turnkey_surface_preview').val((qty * price ? qty * price : 0).toFixed(2));
    });

    $('#local_layout .form-group').on('input', '.lcl', function () {

        var totalSum = 0;
        $('#local_layout .form-group .totallcl').each(function () {
            var inputVal = $(this).val();
            if ($.isNumeric(inputVal)) {
                totalSum += parseFloat(inputVal);
            }
        });

        $('#total_layout').val((totalSum ? totalSum : 0).toFixed(2));
        $('#total_layout').change();
        var total = $('#total');
        if ($('#acompte-30').is(':checked')) {
            total.change();
            $('.fifty').val('');
            $('.thirty').val(total.val() * 0.3);
        }
        if ($('#acompte-50').is(':checked')) {
            total.change();
            $('.thirty').val('');
            $('.fifty').val(total.val() * 0.5);
        }
    });
</script>