<div class="panel rounded-sm panel-box" id="payment-acompte">

  <h3>Conditions de paiement</h3>

  <p>Seules les demandes accompagnées de leur acompte seront traitées.</p>

  <div class="form-row accompte-box">
    <div class="form-group col-md-8">
      <%= radio_button_tag(:payment_version, 30, {}, id: 'acompte-30') %> &nbsp; <label>30% du montant total TTC</label>
      <p>en € pour une réservation réceptionnée avant le <%= l ((@event.date_limit if @event.date_limit) - 90), format: :long %></p>
    </div>
    <div class="form-group col-md-4 text-right">
      <label>Soit un total en Euros TTC</label>
      <input class="form-control thirty" disabled>
    </div>
  </div>

  <div class="form-row accompte-box">
    <div class="form-group col-md-8">
      <%= radio_button_tag(:payment_version, 50, {}, id: 'acompte-50') %> &nbsp; <label>50% du montant total TTC</label>
      <p>en € pour une réservation réceptionnée après le <%= l (@event.date_limit - 90), format: :long %></p>
    </div>
    <div class="form-group col-md-4 text-right">
      <label>Soit un total en Euros TTC</label>
      <input class="form-control fifty" disabled>
    </div>
  </div>

  <p>Toute inscription intervenant à moins de 30 jours du Salon devra être accompagnée de la totalité du montant
    dû.</p>

  <ul>
    <li>Les badges exposants seront remis sur place le jour du montage après paiement total des factures</li>
    <li>Les emplacements des stands ne seront attribués qu'après réception du dossier dûment complété avec acompte
    </li>
  </ul>

  <p><b>Le solde est dû impérativement</b> <u>le <%= l @event.date_limit, format: :long %> dernier délai</u>. Si le solde ne nous parvient pas
    avant
    cette date, COSORG se réserve le droit d’accorder l’emplacement en priorité à un autre exposant ayant
    réglé la totalité.
    Lors du paiement, merci d’indiquer le nom de l’exposant.</p>
</div>

<script type="text/javascript" charset="utf-8">
function acompteCalc(){

}

$('#payment-acompte input[type=radio]').change(function () {
    var total = $('#total');
    if ($('#acompte-30').is(':checked')) {
        total.change();
        $('.fifty').val('');
        $('.thirty').val(total.val() * 0.3);
    }
    if ($('#acompte-50').is(':checked')) {
        total.change();
        $('.thirty').val('');
        $('.fifty').val(total.val() * 0.5);
    }
});
</script>