<div class="panel rounded-sm panel-box" id="stand">

  <h3>Votre stand</h3>

  <div class="form-row">
    <div class="form-group col-md-8">
      <label>Metrage du stand nu</label>
      <p>Obligatoire pour chaque exposant, <%= "%g" % @event.stand.stand_surface_price %> Euros HT/m2</p>
      <%= form.number_field :booth_surface, class: "form-control toprc", placeholder: "surface de votre stand", min: "0" %>
    </div>
    <div class="form-group col-md-4">
      <label>Total</label>
      <p>&nbsp;</p>
      <input class="form-control prc" id="exhibitor_booth_surface_preview" value="0" disabled>
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col-md-8">
      <label>Participation à l’élimination des déchets</label>
      <p>Obligatoire pour chaque exposant, <%= "%g" % @event.stand.stand_trash_price %> Euros HT/m2</p>
      <%= form.number_field :booth_junk_surface, class: "form-control toprc", placeholder: "surface de votre stand", min: "0" %>
    </div>
    <div class="form-group col-md-4">
      <label>Total</label>
      <p>&nbsp;</p>
      <input class="form-control prc" id="exhibitor_booth_junk_surface_preview" value="0" disabled>
    </div>
  </div>


  <div class="form-group">
    <label>Electricité</label>
    <p>3000 Watts / 220 V Obligatoire pour chaque exposant</p>
    <input class="form-control" value='<%= "%g" % @event.stand.stand_electricity_price %> Euros HT' disabled>
  </div>


  <div class="form-group">
    <label>Angles</label>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <br>
      <img src="/images/angles.png" class="img-responsive angle-pic">
    </div>
    <div class="form-group col-md-3" id="corner_cks">
      <label>&nbsp;</label>
      <p><%= form.check_box :is_angle_a, class: 'cks' %> 0 angle (type A)</p>
      <p><%= form.check_box :is_angle_b, class: 'cks' %> 1 angle (type B)</p>
      <p><%= form.check_box :is_angle_c, class: 'cks' %> 2 angle (type C)</p>
      <p><%= form.check_box :is_angle_d, class: 'cks' %> 3 angle (type D)</p>
    </div>
    <div class="form-group col-md-3 text-right">
      <label>&nbsp;</label>
      <p>sans supplément</p>
      <p>125 Euros HT</p>
      <p>250 Euros HT</p>
      <p>500 Euros HT</p>
    </div>
    <div class="form-group col-md-3 text-right result-cks">
      <label>Total en euros HT</label>
      <p class="a pval">0</p>
      <p class="b pval">0</p>
      <p class="c pval">0</p>
      <p class="d pval">0</p>
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col-md-8">
      <label>Majoration allée centrale</label>
      <p><%= "%g" % @event.stand.stand_increase %> Euros HT/m2</p>
      <%= form.number_field :majoration_central_allery,
                            class: "form-control toprc", placeholder: "surface de votre stand", min: "0" %>
    </div>
    <div class="form-group col-md-4">
      <label>Total</label>
      <p>&nbsp;</p>
      <input class="form-control prc" id="exhibitor_majoration_central_allery_preview" value="0" disabled>
    </div>
  </div>

  <!-- Total Stand -->
  <%= form.hidden_field :total_stand, id: 'total_stand', class: 'subtotal', value: 300 %>

</div>

<script type="text/javascript" charset="utf-8">

    $('.cks').change(function () {

        if ($('#exhibitor_is_angle_a').is(':checked')) {
            $('p.a').text('0');
        } else {
            $('p.a').text('0');
        }

        if ($('#exhibitor_is_angle_b').is(':checked')) {
            $('p.b').text('125');
        } else {
            $('p.b').text('0');
        }

        if ($('#exhibitor_is_angle_c').is(':checked')) {
            $('p.c').text('250');
        } else {
            $('p.c').text('0');
        }

        if ($('#exhibitor_is_angle_d').is(':checked')) {
            $('p.d').text('500');
        } else {
            $('p.d').text('0');
        }

        sumPrice();
        $('#total_stand').change();
    });

    function sumPrice() {
        var sum = 0;
        var stand = parseFloat($('#exhibitor_booth_surface_preview').val());
        var carbage = parseFloat($('#exhibitor_booth_junk_surface_preview').val());
        var majoration = parseFloat($('#exhibitor_majoration_central_allery_preview').val());
        var electricity = <%= "%g" % @event.stand.stand_electricity_price %>;
        $('p.pval').each(function () {
            sum += parseFloat($(this).text());
        });
        return $('#total_stand').val(sum + stand + carbage + majoration + electricity);

    }

    $('#exhibitor_booth_surface').on('input', function () {
        var qty = $(this).val();
        var price = '<%= @event.stand.stand_surface_price if @event.stand.stand_surface_price %>';
        $('#exhibitor_booth_surface_preview').val((qty * price ? qty * price : 0).toFixed(2));

    });

    $('#exhibitor_booth_junk_surface').on('input', function () {
        var qty = $(this).val();
        var price = '<%= @event.stand.stand_trash_price if @event.stand.stand_trash_price %>';
        $('#exhibitor_booth_junk_surface_preview').val((qty * price ? qty * price : 0).toFixed(2));
        sumPrice();
    });

    $('#exhibitor_majoration_central_allery').on('input', function () {
        var qty = $(this).val();
        var price = '<%= @event.stand.stand_increase if @event.stand.stand_increase %>';
        $('#exhibitor_majoration_central_allery_preview').val((qty * price ? qty * price : 0).toFixed(2));
        sumPrice();
    });

    $('#stand .form-group').on('input', '.toprc', function () {

        var totalSum = 0;
        $('#stand .form-group .prc').each(function () {
            var inputVal = $(this).val();

            if ($.isNumeric(inputVal)) {
                totalSum += parseFloat(inputVal);
            }

        });

        $('#total_stand').val(sumPrice()[0].value);
        $('#total_stand').change();
        var total = $('#total');
        if ($('#acompte-30').is(':checked')) {
            total.change();
            $('.fifty').val('');
            $('.thirty').val(total.val() * 0.3);
        }
        if ($('#acompte-50').is(':checked')) {
            total.change();
            $('.thirty').val('');
            $('.fifty').val(total.val() * 0.5);
        }

    });
</script>