<div class="panel rounded-sm panel-box">
  <h3>Total</h3>
  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.number_field :total_communication, id: 'total', class: 'form-control', value: 0, disabled: 'disabled' %>
    </div>

  </div>

</div>
