/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./app
 *= require_self
 */

#notice {
  padding: 15px;
  margin: 0 20px 20px 20px;
  background-color: #fafafa;
  border-left: 6px solid #80D651;

  -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);


  &:empty {
    display: none;
  }
}

#alert {
  padding: 15px;
  margin: 0 20px 20px 20px;
  background-color: #fafafa;
  border-left: 6px solid red;

  -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);

  &:empty {
    display: none;
  }
}

body {
  background: #eee !important;
}

.container {
  flex: 1 0 auto;
}

.panel-box {
  border: 1px solid #eeeeee;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.4);
  padding: 20px;
  border-radius: 5px;
  background: #fff;

  margin-bottom: 50px;

  h3 {
    background: rgb(255, 230, 0);
    padding: 5px 20px;
    margin-left: -40px;
    font-weight: 700;
    text-transform: uppercase;
  }

  label {
    font-weight: bold;
  }
}

.exhibitor-form-header {
  padding: 40px 0px;

}

.form-control-inline {
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

.image-example {
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-bottom: 3px solid rgb(255, 230, 0);

  img {
    height: 100px;
  }

}

.switch-box {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 3px solid rgb(255, 230, 0);

}

.accompte-box {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 3px solid rgb(255, 230, 0);

}

.angle-pic {
  height: 100px;
}

.red {
  color: red;
}