<!DOCTYPE html>
<html>

<head>
  <%= render 'shared/head' %>
</head>

<body class="eventster-form">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to image_tag('site-logo.png', class: 'img-responsive company-logo'),
                  root_url,
                  data: {turbolinks: false},
                  class: 'navbar-brand' %>
    </div>
  </div><!-- /.container-fluid -->
</nav>


<%= yield %>

<!-- Footer -->
<div class="container-fluid footer-container">
  <a href="/">© COSORG </a><%= Date.current.year %> Tous droits réservés
</div>

</body>
</html>
  