<!DOCTYPE html>
<html>
  <head>
    <title>COSORG Events</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/eventually/assets/css/main.css" />
  </head>

  <body class="is-preload">
    <%= yield %>

    
	<script src="/eventually/assets/js/main.js"></script>
  </body>
</html>
